<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Xiaowei's Microblog</title>
        <link rel="stylesheet" href="./assets/css/default.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
        <script src="../assets/js/analytics.js" type="text/javascript"></script>
    </head>
    <body>
        <header>
            <span class="logo">
                <a href="microblog.html">Xiaowei's Microblog</a>
            </span>
            <nav>
                <a href="index.html">About</a><a href="microblog-feed.xml">Feed</a>
            </nav>
        </header>

        <div class="main">
            $body$
        </div>

    </body>
</html>
