<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>All posts</title>
        <link rel="stylesheet" href="./assets/css/default.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
        <script src="./assets/js/analytics.js" type="text/javascript"></script>
    </head>
    <body>
        <header>
            <span class="logo">
                <a href="blog.html">Xiaowei's Blog</a>
            </span>
            <nav>
                <a>All posts</a><a href="index.html">About</a><a href="blog-feed.xml">Feed</a>
            </nav>
        </header>

        <div class="main">
            <div class="bodyitem">
                <ul class="postlist">
                    $body$
                </ul>
            </div>
        </div>
    </body>
</html>
